/* This is the CSS file for the Signup page. */

.mainContainer {
  display: flex;
  padding-bottom: 15vh;
  height: 91vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.25s ease-in-out;
  cursor: default;
  gap: 5vh;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  font-weight: bold;
  font-size: 2vh;
}

form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vh;
  height: 3vh;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1vh;
  margin: 1vh;
}

form input::placeholder {
  font-size: 12px;
}

form button {
  padding: 1vh 1vh;
  border: none;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

form button:hover {
  text-shadow: 0 4px 8px var(--shadow-color);
  transform: scale(1.2);
}

.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-top: 3vh;
  font-size: 2vh;
  text-decoration: none;
}

.navLink {
  display: flex;
  justify-content: center;
  height: 3vh;
  width: 10vh;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navLink:hover {
  text-shadow: 0 1px 4px var(--shadow-color);
  transform: translateY(5px) scale(1.2);
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    padding-bottom: 0vh;
  }

  .imageContainer {
    height: 15vh;
    width: auto;
  }
}
