/* This is the CSS file for the About page. */

.About {
  position: relative;
  display: flex;
  padding-bottom: 15vh;
  height: 200vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 0.25s ease-in-out;
  cursor: default;
  animation: fadeInUp 0.6s ease-out forwards;
  z-index: 0;
  overflow: hidden;
}

h1 {
  font-size: 2vh;
  color: var(--text-color);
  margin-bottom: 2vh;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
