/* This is the CSS file for the About page. */

.About {
  position: relative;
  display: flex;
  height: 210vh;
  padding-top: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 0.25s ease-in-out;
  cursor: default;
  z-index: 0;
  overflow: hidden;
}

.About .timelineContainer {
  display: flex;
  flex-direction: row;
  gap: 10vh;
}

.About .leftTimeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.About .startTimeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--background-color);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.About .timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 2vh;
  width: 40%;
  color: var(--text-color);
  transition: color 0.25s ease-in-out;
}

.Description h2 {
  font-size: 2.5em;
}

.Description img {
  width: 60vh;
  height: 60vh;
}

.Description p {
  font-size: 1.5em;
}