/* This is the CSS applied to the whole application */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Panton";
  src: local("Panton"), url("./../fonts/Panton.otf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Panton", sans-serif;
  letter-spacing: 5px;
}

@layer base {
  :root {
    --dark-first-clr: 13 19 33;
    --dark-second-clr: 28 37 65;
    --dark-third-clr: 47 62 90;
    --light-first-clr: 245 245 245;
    --light-second-clr: 224 224 224;
    --light-third-clr: 192 192 192;
    --dark-shadow-color: 0 0 0;
    --light-shadow-color: 255 255 255;
  }
}

@media (max-width: 768px) {
  * {
    letter-spacing: 3px;
  }
}
