/* This is the CSS file for the SocialMedias component. */

.buttonLink {
  position: fixed;
  bottom: 4dvh;
  left: 4dvh;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  background-color: var(--background-color);
  z-index: 1;
}

.socialLink {
  position: fixed;
  bottom: 4vh;
  left: 4vh;
  color: var(--text-color);
  height: 16px;
  width: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.github {
  transform: translate(50px) scale(1.5);
}

.linkedin {
  transform: translateX(35px) translateY(-35px) scale(1.5);
}

.facebook {
  transform: translateY(-50px) scale(1.5);
}
