/* Container for the navigation */
nav {
  position: absolute; /* Position the nav element absolutely within its container */
  top: 2em; /* Distance from the top of the container */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  transform: translateX(-50%); /* Center the nav horizontally */
}

/* Button styling for toggling the navigation links */
button {
  background: none; /* Remove default background */
  border: none; /* Remove default border */
  font-size: 24px; /* Set font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  color: var(--text-color); /* Set text color */
  transition: transform 0.3s ease, color 0.25s ease-in-out; /* Smooth transitions for transform and color */
  padding-top: 20px; /* Add padding at the top */
}

/* Rotate the button when it is clicked */
button.clicked {
  transform: rotate(180deg); /* Rotate 180 degrees */
}

/* Container for the links */
.links {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Align links in a row */
}

/* Styling for each link */
.links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Styling for the icon within each link */
.links a .icon {
  opacity: 0; /* Initially hidden */
  transform: scale(0.8); /* Scale down slightly */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions for opacity and transform */
}

/* Hover effect for links */
.links a:hover {
  transform: scale(1.3); /* Scale up on hover */
}

/* Show the icon and adjust scale on hover */
.links a:hover .icon {
  opacity: 1; /* Make icon visible */
  transform: scale(0.8); /* Maintain scale of icon */
}

/* Styling for the logo of the current page */
.CurrentPageLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
