/* This is the CSS file for the TimelineItem component. */

.timelineItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  }
  
  .timelineItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  }
  
  .timelineIllustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .timelinePoint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 5px solid var(--text-color);
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  }
  
  .timelineLine {
    width: 0.5vh;
    height: 10vh;
    background-color: var(--text-color);
    transition: background-color 0.25s ease-in-out;
  }
  
  .timelineLastLine {
    width: 0.5vh;
    border-left: 2px dashed var(--text-color);
    height: 10vh;
  }
  
  .timelineContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vh;
  }
  
  .adjustDivs {
    width: 30vh;
  }
  
  @media (max-width: 768px) {
    .timelineContent {
      width: 60%;
    }
  
    .adjustDivs {
      width: 60%;
    }
  
    .timelineLine {
      height: 17vh;
    }
  }