/* This is the CSS file for the Experience page. */

.Experience {
  position: relative;
  display: flex;
  padding-bottom: 15vh;
  height: 200vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 0.25s ease-in-out;
  cursor: default;
  z-index: 0;
  overflow: hidden;
}