@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa-Light"), url("/Comfortaa-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

:root {
  --background-color: #ffffff;
  --foreground-color: #000000;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --toggle-bg: #e0e0e0;
  --toggle-fg: #000000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --foreground-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --toggle-bg: #303030;
  --toggle-fg: #ffffff;
}