/* This is the CSS applied to the whole application */

@font-face {
  font-family: "Panton";
  src: local("Panton"), url("./../fonts/Panton.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Panton", sans-serif;
  letter-spacing: 5px;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --toggle-bg: #e0e0e0;
  --toggle-fg: #303030;
  --shadow-color: #000000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
  --toggle-bg: #303030;
  --toggle-fg: #ffffff;
  --shadow-color: #ffffff;
}

@media (max-width: 768px) {
  * {
    letter-spacing: 3px;
  }
}