/* This is the CSS file for the ToggleDarkMode component. */

.toggle-container {
  position: fixed;
  bottom: 2vh;
  right: 3vh;
  z-index: 1;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  display: flex;
  align-items: center;
  font-size: 2vh;
  cursor: pointer;
  color: var(--text-color);
  transition: color 250ms ease-in-out;
  position: relative;
}

.toggle + label::before {
  content: "";
  height: 1vh;
  width: 2vh;
  border-radius: 1vh;
  background-color: var(--toggle-bg);
  margin-right: 1vh;
  transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
  content: "";
  height: 1vh;
  width: 1vh;
  border-radius: 1vh;
  background-color: var(--toggle-fg);
  position: absolute;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(100%);
}
