/* This is the CSS file for the Utils component. */

.UtilsContainer {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 0.25s ease-in-out;
}

.language {
  position: fixed;
  top: 2vh;
  left: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: color 0.25s ease-in-out;
}

.authentication {
  position: fixed;
  top: 1vh;
  right: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: color 0.25s ease-in-out;
}

.language button {
  padding: 10px;
}

.language img {
  width: 2vh;
  height: auto;
  transition: transform 0.3s ease;
}

.language img:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .language button {
    padding: 10px;
    margin-top: 3px;
  }
}
